body{
    background-color: black;
}

.first{
    width: 900px;
    height: 900px;
    background-color: black;
    color: white;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    margin: auto;
    width: 200px;
    text-align: center;
    align-content: center;
}

.form{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 150px;
    border-collapse: collapse;
}

#input_name{
    width: 45%;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    padding-left: 4px;
    border-radius: 5px;
    color: grey;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
}

#input_subject{
    width: 91%;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    padding-left: 4px;
    border-radius: 5px;
    color: grey;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
}

#input_msg{
    width: 91%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    padding-left: 4px;
    border-radius: 5px;
    color: grey;
    background-color: rgb(0, 0, 0);
    opacity: 50%;
}

.submit{
    width: 45%;
    height: 35px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2px;
    padding-left: 4px;
    border: white;
    border-radius: 5px;
    background: rgb(255, 0, 0);
    color: white;
    cursor: hand;
}

.column0 {
    float: left;
    width: 35%;
    margin-top: 0px;
    height: 160px;
    background-color: rgb(43, 46, 49); 
    text-align: center;
  }

.column1 {
    float: right;
    width: 35%;
    margin-top: 0px;
    height: 160px;
    background-color: rgb(43, 46, 49); 
    text-align: center;
}  
